.grid {
  margin: 1rem auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 2rem;

  & > * {
    flex: 1 300px;
  }

  img {
    max-width: 35rem;
    margin: 1rem auto;
    border-radius: 5px;
  }

  span {
    font-size: x-small;
    font: bold;
  }
}
